.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky; /*reamin at top while scrolling*/
  top: 0;
  z-index: 999; /*remain at the top notcompnent nevr gonna be over tobar above */
}
.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.topright {
  display: flex;
  align-items: center;
}
.topIconBadge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.topAvatr {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
