.userlist {
  flex: 4;
}
.Userlistuser {
  display: flex;
  align-items: center;
}

.UserlistImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userlistededit {
  border: "none";
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}
.userlistedelete {
  color: red;
  cursor: pointer;
  margin-left: 10px;
}
